html, body {
    background-color: rgb(7, 10, 85);
    margin: 0;
    padding: 8px; /*Create dark blue border around wrapper*/
    width: calc(100%-16); /*Make padding visible and uniform on all sides - calc(100%-padding times 2) */
    height: auto;
    justify-content: center;
}

.wrapper {
    height: auto; /*previously 600px */
    padding: 20px; /*7px of padding for html, body and 7px for wrapper*/
    margin: 0;
    border-style: solid 5px;
    background-color: rgb(39, 66, 134);
    border-radius: 5px;
    flex-direction: column; /* Stack inside sections vertically*/
    justify-content: center;
}

/*All 3 sections for main elements*/

.topbar, .extra_info, .filters, .account_creation {
    width: calc(100%-20px); /*width = 100& - padding of wrapper */
    padding: 12px;
    border-style: solid 5px;
    margin-bottom: 12px; /*Height of each plus margin-bottom of each should add too 100% */
}

.topbar {
    height: 30px;
    background-color: white;
}

.extra_info {
    height: auto;
    background-color: white;
}

.filters {
    height: 54%;
    background-color: rgb(200, 200, 200);
}

/*Content of main sections*/

/*Sections inside top bar*/
.account_management, .heading {
    flex-direction: row;
    display: inline-block;
}
.heading {
    width: 50%;
}

.account_management {
    float: right;
    background-color: rgb(200, 200, 200);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
    width: 10vw;
    height: 33px;
    padding: 0px;
    font-size: 14px;
}
/*
@media (min-width: 600px) {
    .account_management {
      font-size: 14px;
      width: 10vw;
    }
  }
*/
  @media (max-width: 599px) {
    .account_management {
      font-size: 12px;
      width: 11vw;
    }
  }

.account_management:hover {
    background-color: rgb(230, 230, 230);
}

/* Extras for account creation page */

.account_creation {
    height: 70%;
    background-color: rgb(200, 200, 200);
}

fieldset {
    border: none;
    border-bottom: 3px solid rgb(7, 10, 85);
    margin-bottom: 7px;
}

label, input, .flashes, .success_messages {
    margin-right: 6px;
    margin-bottom: 5px;
}

a {
    color: black;
}

.flashes {
    color: red;
}

.success_messages {
    color: green;
}